.table-container {
    margin-left: 0;
    text-align: center;
}

.school-name-button {
    width: 35%;
    height: auto;
    background-color: lightblue;
    border: none;
    border-radius: 5px;    
}

.school-name-button:hover {
    cursor: pointer;
}

.school-name-button:focus {
    outline: 0;
}

.school-name {
    color: black;
    font-size: 15px;
}