.table-container {
    margin: 10px 20px;
    text-align: center;
}

.school-name-button {
    padding: 8px 10px;
    font-weight: normal;
    overflow: hidden;
}

.school-name-button:hover {
    cursor: pointer;
}

.school-name-button:focus {
    outline: 0;
}

.school-name {
    color: black;
    font-size: 15px;
}